{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="col-auto text-center">
  <h1>Log in</h1>
</div>

<div class="col-auto" style="padding: 5% 10% ;">

<form method="POST">
  <div class="row mb-3">
    <label for="cid" class="col-sm-2 col-form-label">CID:</label>
    <div class="col-sm-10">
      <input
      type="cid"
      class="form-control"
      id="cid"
      name="cid"
      placeholder="Enter CID"
    />
      </div>
  </div>
  <div class="row mb-3">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
  <p> New User? <a href="/signup"> Sign up</a> </p>
  <p> Or continue as <a href="/guest"> Guest</a> </p>

</form>

{% endblock %}
